.rectangle {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.red {
	border: 2px solid red;
	color: red;
}

.green {
	border: 2px solid green;
	color: green;
}

.blue {
	border: 2px solid blue;
	color: blue;
}